* {
    padding: 0; 
    margin: 0;
    font-family: 'Young Serif';
    font-weight: lighter;
}

body {
    background-color: #ffe5c0;
    min-width: 40rem
}

.mainContainer{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    margin: 6em 0;
}

.areaContainer {
    background-color: white;
    height: 100%;
    width: 35rem;
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
     
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; 
}



.itemContainer {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    
    
}

.itemContainer h1{
    font-size: 2.3rem;
    color: #2c2c2c;
}

.itemContainer h2{
    color: #832521;
}

.itemContainer p, li, span, td  {
    font-size: 0.9rem;
    font-weight: ligher;
    font-family: 'Outfit',sans-serif;
    color: #2c2c2c;
}

.highLight {
    background-color: #ffeff9;
    color: #811758;
    padding: 1.5rem;
    border-radius: 0.5rem
}

.highLight h2{
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 1.2rem;
    color: #811758
}

.highLight ul {
    padding-left: 1.3rem;
        
}

.highLight div {
    display: flex;
    padding-bottom: 0.5rem
}

.highLight li{
    padding-left: 1rem;
    font-size: 0.6rem;
    line-height: 2;    
    color: #811758;
}

.highLight span, b{
    color: #2c2c2c;
    
    font-family: 'Outfit';
    
}

b {
    font-weight: bold;
}

.list h2 {
    color: #832521;
    
}

.list ul, ol {
    padding-left: 1.3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d1d1d1;
}

.list li {
    padding-left: 1rem;
    
}

.list div{
    display: flex;
    padding-bottom: 0.5rem;
}

.list .smallDisc{
    padding-left: 1rem;
    font-size: 0.6rem;
    line-height: 2;    
    color: #832525;
}

.list .smallNumber{
    color: #832525;
    font-weight: 700;
    font-family: sans-serif;  
}

tr {
    display: flex; 
    border-bottom:1px solid #d1d1d1;
    padding-left:1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

table {
    width:100%;
    
}

td {
    width: 48%;
        
}

td b {
    color: #832525;
    font-family: sans-serif
}

footer {
    text-align: center;
    background-color: white;
    color: #832525;
    min-width: 40rem;
    
    
}

footer a, .attribution {
    font-family: 'Outfit'
}

